body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #0a1b2b;
	color: #fafcfc;
}

#scroller {
	height: 80vh;
	width: 100%;
	padding: 2rem;
	color: #3ce4b3;
	text-shadow: 0 0 2px rgba(219, 250, 241, 0.6);
	line-height: 1.5rem;
	font-size: 1.3rem;
	font-family: "Heebo", monospace;
	overflow: hidden;
}